<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Cliver.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Cliver.Properties.Settings>
            <setting name="ServicePort" serializeAs="String">
                <value>5353</value>
            </setting>
            <setting name="ServiceName" serializeAs="String">
                <value>cliversoft</value>
            </setting>
            <setting name="UseWindowsUserAsServiceName" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Run" serializeAs="String">
                <value>True</value>
            </setting>
        </Cliver.Properties.Settings>
    </userSettings>
</configuration>