<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Cliver.CisteraNotification.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Cliver.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Cliver.CisteraNotification.Properties.Settings>
            <setting name="ServicePort" serializeAs="String">
                <value>2222</value>
            </setting>
            <setting name="ServiceName" serializeAs="String">
                <value>cliversoft</value>
            </setting>
            <setting name="UseWindowsUserAsServiceName" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Run" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AlertSound" serializeAs="String">
                <value>alert.wav</value>
            </setting>
            <setting name="InformSound" serializeAs="String">
                <value>inform.wav</value>
            </setting>
            <setting name="NotificationFormWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="NotificationFormHeight" serializeAs="String">
                <value>310</value>
            </setting>
            <setting name="NotificationFormRightPosition" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="AlertFormWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AlertFormHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AlertFormRightPosition" serializeAs="String">
                <value>50</value>
            </setting>
        </Cliver.CisteraNotification.Properties.Settings>
        <Cliver.Properties.Settings>
            <setting name="ServicePort" serializeAs="String">
                <value>2222</value>
            </setting>
            <setting name="ServiceName" serializeAs="String">
                <value>cliversoft</value>
            </setting>
            <setting name="UseWindowsUserAsServiceName" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Run" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AlertSound" serializeAs="String">
                <value />
            </setting>
            <setting name="PlayOnNotification" serializeAs="String">
                <value />
            </setting>
        </Cliver.Properties.Settings>
    </userSettings>
</configuration>